* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all 0.4s;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  height: calc(100vh - 50px);
}
input:focus {
  outline: none;
}
nav {
  width: 100vw;
  height: 50px;
  display: grid;
  top: 0px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  position: fixed;
  z-index: 3;
  background-color: #5a44b3;
  font-family: "Open Sans", sans-serif;
}
nav a {
  justify-self: center;
  align-self: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
nav a:nth-child(2) {
  grid-column-end: -3;
}
nav a:nth-child(3) {
  grid-column-end: -2;
}
nav a:nth-child(4) {
  grid-column-end: -1;
}
.activeLink {
  text-align: center;
  line-height: 30px;
  color: #5a44b3;
  background-color: white;
  width: 120px;
  height: 30px;
  border-radius: 50px;
}

#indexBodyCont,
#loginBodyCont,
#signupBodyCont,
#userLoginBodyCont,
#userSignupBodyCont,
#agentLoginBodyCont,
#agentSignupBodyCont,
#userProfile,
#myPropContainer {
  margin-top: 50px;
}
.active {
  border-radius: 30px;
  background-color: #5a44b3;
}
div.property.active {
  border-radius: 20px 20px 20px 0px;
  border: 3px solid #5a44b3;
  background-color: #5a44b3;
}
div.property.active h1 {
  color: white;
}
#deleteMessage {
  display: none;
}
#indexBodyCont {
  display: grid;
  grid-template-columns: 50% 50%;
}
#indexMapContainer {
  grid-column: 1;
  position: fixed;
  height: calc(100vh - 50px);
  width: 50%;
}
#rightContainer {
  grid-column: 2;
  width: 100%;
  height: auto;
  overflow: auto;
}

#results .property img {
  width: 100%;
}
.property {
  border: 3px solid transparent;
  margin: 5px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.property img {
  grid-column: span 2;
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.property h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
}
#indexPropertiesContainer,
#results {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10px;
}
#frmSearch {
  display: grid;
  justify-self: center;
  height: 40px;
}
#frmSearch input,
.loginForm input,
.signupForm input,
.profileEditInputs input,
#addPropertyForm input,
#propertiesContainer .property input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  height: 50px;
  text-align: center;
  border: solid #a994ff 2px;
  border-radius: 0px 0px 20px 20px;
}
#interestedBtn,
#userProfile button {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: white;
  background-color: #5a44b3;
  border: none;
  width: 120px;
  height: 30px;
  border-radius: 50px;
  cursor: pointer;
}
div.property.active #interestedBtn {
  background-color: white;
  color: #5a44b3;
}
#loginBodyCont,
#signupBodyCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40vw;
  margin: auto;
  height: 40vh;
}

#loginBodyCont a,
#signupBodyCont a {
  margin: auto;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: #5a44b3;
  width: 200px;
  line-height: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50px;
  font-size: 1.7em;
  border: 3px solid transparent;
}
#loginBodyCont a:hover,
#signupBodyCont a:hover,
.loginForm button:hover,
.signupForm button:hover,
#userProfile button:hover,
#inputFileCont label:hover,
#btnAddProperty:hover,
#propertiesContainer .property button:hover {
  color: #5a44b3;
  background-color: white;
  border: 3px solid #5a44b3;
}
.loginForm,
.signupForm {
  display: grid;
  grid-row-gap: 10px;
  width: 300px;
  margin: 200px auto;
}
.loginForm > *,
.signupForm > * {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
}
.loginForm button,
.signupForm button,
#btnAddProperty,
#propertiesContainer .property button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: white;
  background-color: #5a44b3;
  border: none;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
}
#userProfile {
  font-family: "Open Sans", sans-serif;
  display: grid;
  width: 600px;
  margin: 100px auto;
}
#userProfile h1 {
  margin: 20px 0px;
  text-align: center;
}
#profileImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.profileEditInputs {
  display: grid;
  width: 300px;
  margin: auto;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
#userProfile button {
  margin: auto;
  width: 150px;
  height: 40px;
  margin: 20px auto;
}
#addPropertyForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  width: 350px;
  margin: 70px auto;
}
#addPropertyForm input {
  font-size: 1.5em;
  height: 50px;
  text-align: center;
}
input#mainImg {
  border: none;
  position: absolute;
  z-index: 2;
  left: 0px;
  width: 350px;
  height: 50px;
  padding-left: 40px;
  opacity: 0;
}
#inputFileCont label {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: white;
  background-color: #5a44b3;
  border: none;
  height: 50px;
  line-height: 30px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}
#inputFileCont {
  position: relative;
}
#overlayInput {
  width: 170px;
  margin-left: 180px;
}
#btnAddProperty {
  font-size: 1.5em;
}
#propertiesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1000px;
  margin: auto;
}
#propertiesContainer .property input {
  font-size: 1.1em;
  margin: 3px 1px;
  height: 50px;
  text-align: center;
}
#propertiesContainer .property button {
  margin-top: 2px;
  font-size: 1em;
}
